@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* text color */
        --text-color-base: #000000;
        --text-color-light: #ffffff;
        --text-color-primary: #0eaa61;
        --text-color-secondary: #1b2d55;

        /* font size */
        --font-size-tiny: 10px;
    }
}
