@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark {
        @apply text-slate-50;
        @apply bg-slate-900;
        --text-color-base: var(--text-color-dark-theme);
        --text-color-light: var(--text-color-dark-theme);
        --text-color-primary: var(--text-color-dark-theme);
        --text-color-secondary: var(--text-color-dark-theme);
    }

    :root {
        /**
        * @tokens Text Colors
        * @presenter Color
        */
        --text-color-base: #000000;
        --text-color-primary: #0eaa61;
        --text-color-secondary: #1b2d55;
        --text-color-light: #fafafa;
        --text-color-dark-theme: #f6f9fc;

        /**
        * @tokens Font Sizes
        * @presenter FontSize
        */
        --font-size-tiny: 10px;
        --font-size-small: 12px;
    }

    h1 {
        @apply text-2xl;
    }
    h6 {
        @apply text-tiny;
    }

    .font-size-extra-small {
        @apply text-xs;
    }

    .font-size-small {
        @apply text-sm;
    }
}
